################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Employee Management Alpha 1.0/v16/Server/sqlite3/db.lock
