################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Employee Management Alpha 1.0/v16/TestStore/0/testlog.manifest
/.vs/Employee Management Alpha 1.0/v16/TestStore/0/000.testlog
